[2017-10-10 17:07] yanmagale opened #6 "Arquitechture Question - Why Not Reducers?"
Hi everyone.

First, thanks to created this project. I always searching  state management concepts and Flux Arquitechture,really like this pattern and all power that Flux returns to project.

I liked that you make with actions and stores, principally the way to use into components.

So, i have a arquitectural question: Why not reducers or other structure to contain separated the operationals can m

[2017-10-10 17:11] matheusml commented on #6
Thanks for the question. There's definitely a place for reducers, just see the huge adoption of Redux. But this project aims to be way more simple than Redux, just a single store and your actions.

With this approach you have less boilerplate, and a smaller learning curve, for example. But for more complex applications, maybe Redux your best option.

[2017-10-10 17:11] #6 closed

[2017-10-10 17:14] yanmagale commented on #6
Great, thanks @matheusml :smile:

[2017-10-13 00:00] matheusml opened #10 "Change the subscribe/unsubscribe functions"
As noticed in this [comment](https://medium.com/@drcmda/this-looks-fantastic-just-two-little-nitpicks-d5234038921d?source=email-fb33cb80b669-1507840153158-activity.response_created) we can have a hard time with anonymous functions using the currect pattern.

[2017-10-13 16:35] matheusml opened #11 "Remove the dist folder from version control"
Add the dist to the .gitignore and make sure that npm will add the dist folder on npm install

[2017-10-13 16:36] matheusml opened #12 "Split the project"
Right now the project is coupled with React.
We should split the project so that we can have React, Preact, Angular and Vue bindings, for example.

[2017-10-13 20:48] DarrylD opened #13 "Middleware?"
First off, I love the concept and the simplicity of it. I often found myself annoyed with reducers because the project is so small.

With that said, things like redux-sagas and redux-observables seem to offset the need for reducers. Wonder would would be a simple way to introduce a form of middleware without the bloat. My first inclination is composing actions, but not sure if you had a better ide

[2017-10-13 20:57] DarrylD opened #14 "Render props"
With the big push to [render props](https://www.youtube.com/watch?v=BcVAq3YFiuc) wonder if it would be a good idea to add a render-prop variant. Something like this...

[code]

[2017-10-13 22:09] matheusml commented on #13
Hi @DarrylD

First, thanks for the compliments!
Redux Zero actions are just JavaScript functions. If you want async actions, I don't see why you can't just use async(await) functions.
My concern with adding more stuff to the library, is that one day we end up exactly like Redux, you know?

Thanks for the message!

[2017-10-13 22:13] matheusml commented on #14
That's a wonderful idea. I think we should go for it!

[2017-10-14 00:40] #11 closed

[2017-10-14 15:47] developit commented on #12
This could also be done with multiple entry points:

[code]

[2017-10-14 16:28] developit opened #16 "Bind actions instead of coupling them to the store"
Hiya!

Right now, actions must import an instance of the store in order to invoke `setState()`. This creates a tight coupling of actions to the store, making testing require mocking that import.  It's a short-circuit that starts out quite nice (just import the store instance), but can get a bit hairy later on (can only have one store, can't compose actions, etc).

Here's a testing use-case that sh

[2017-10-14 18:15] matheusml commented on #12
I was thinking something more like Redux:

[code]

But this looks even better! I'll check if Rollup can easily handle this, if not maybe change to Webpack...

Quick question: what about UMD with multiple entry points? I'm guessing that'll be something like this:

[code]

[2017-10-14 18:29] malbernaz commented on #16
@developit your second approach looks awesome! Love the idea of having actions as pure functions. Thing is that you are right about the caveat you've pointed out, we'd have to find a way to handle async actions properly.

I like the option of having bindActions to handle promises though, we just have to figure out how (don't thing it would be too hard).

[2017-10-14 18:39] malbernaz commented on #10
[code]
This would do the trick. Plus removing the unsubscribe method from the store.

[2017-10-14 18:49] matheusml commented on #16
Although #1 is really simple, I don't think it's going to solve our problem here: we're still having the store somehow coupled with the actions, right?

#2 is just beatiful. Very concise API, just easy to test/reuse pure functions. But the async part is bothering me. Is there a simple way for us to handle it?

[2017-10-14 19:09] malbernaz commented on #16
[code]

@matheusml I guess that would be OK. Can someone see any issues?

[2017-10-14 19:17] matheusml commented on #10
I'll have to test this, but it looks promising (and Redux-like)

[2017-10-14 19:19] developit commented on #12
It can get a bit messy - that'd be the drawback.  If you're up for maintaining the 3-4 repos for each lib than that's probably the safe route haha.

[2017-10-14 19:21] developit commented on #16
@malbernaz I'd avoid waiting on a Promise in the case where no thennable is returned:

[code]

[2017-10-14 19:34] malbernaz commented on #16
Fair enough... It probably makes more sense

[2017-10-14 19:34] developit commented on #16
@matheusml #1 goes further toward solving this problem than it looks at first blush:  it still binds actions to a store, but it does it in a way that can be instantiated.  Here's the proof:

[code]

There are slight variants on this option that highlight the compelling nature a bit better:

[code]

One last huge advantage here: state updates in this option are _atomic_.  It's very unlikely you'd e

[2017-10-16 13:48] matheusml commented on #13
I'm closing this one. If you have any other questions please feel free to ask.

[2017-10-16 13:48] #13 closed

[2017-10-16 14:22] matheusml commented on #16
Thanks for the clarification @developit. That was awesome!

That's a really thought choice but I'm more towards to #2. Pure functions seem to me the way to go. Easier to test and to reason about.

With that said, this is a little concerning:

Correct if I'm wrong, but if we can't guarantee that 2 async functions can properly update the state, this seems like a deal breaker.

[2017-10-16 15:47] DarrylD commented on #14
Under a tight deadline, once I come up for air I can take a stab at a PR if nobody else does.

[2017-10-16 15:49] DarrylD commented on #13
Valid points. That was my Friday brain talking 😁

[2017-10-16 16:17] matheusml commented on #14
It's yours @DarrylD

Thanks!

[2017-10-17 20:14] #10 closed

[2017-10-18 19:15] matheusml commented on #12
Btw, something that is concerning me with this approach are the peerDeps.
Right now we have React as a peer dependency, which means that React will be implicitly added to the final build. With this approach it's not going to be possible to have peerDeps, this can cause trouble in the future.

[2017-10-19 12:54] ruslan-mystore opened #19 "There is chrome devtools for redux-zero?"
There is chrome devtools for redux-zero?

[2017-10-19 12:57] matheusml commented on #19
Not yet @ruslan-mystore, the project is brand new.
But if you want to help us build one it'll be fantastic!

[2017-10-19 12:57] #19 closed

[2017-10-19 14:46] developit commented on #16
Yup - I would say #2 is ideal for synchronous updates, and #1 is ideal for asynchronous updates.

Here's a hybrid of both approaches:

[code]

It works with both approaches mixed:

[code]

Personally I think this mixed approach ends up being ideal: it avoids the easy-but-broken implicit async via promises approach, allows for simple pure synchronous actions, and simplifies async.  Best of all, eve

[2017-10-19 15:45] malbernaz commented on #16
I'm now leaning more towards the first approach because it's easier to reason about, and because it has that async friendliness that #2 doesn't.

But It's probably best to have a bitter complex API to get the best of both worlds. I think we shoudl implement that.

We'll have to work harder on docs : )

[2017-10-19 15:57] matheusml commented on #16
I really liked this #3 approach by @developit

[2017-10-19 23:04] #12 closed

[2017-10-19 23:18] matheusml opened #20 "Add Preact bindings"
Now that `createStore` is decoupled from `Provider` and `connect` we can add preact bindings.

[2017-10-20 18:52] matheusml opened #21 "Add API docs"
This could be very similiar to [this](http://redux.js.org/docs/api/)

[2017-10-21 02:32] knipferrc opened #22 "SSR?"
Really cool looking project. Does this work in a server rendered react app?

[2017-10-21 02:48] bestguy opened #23 "Computed equivalent?"
Great project.  I frequently use [MobX computed values](https://mobx.js.org/refguide/computed-decorator.html) to have derived values from the mutable state.

Can you recommend or explain the equivalent to derived values using redux-zero?
Should I store computed values in store state? Or use listeners in some way?

Thanks

[2017-10-21 18:24] malbernaz commented on #23
hey @bestguy, I've never used mobX to be honest, but for that purpose I suppose you can make a computed property in the mapToProps function passed to the `connect` HOC, like so:

[code]

It would probably make sense to implement some kind of caching if you want to use this more extensively though.

[2017-10-21 18:30] malbernaz commented on #22
It can definitely be done! For that we have to create a store on the server and pass it's state as an argument for the store we create on the client. We should probably have an example for that use case.

[2017-10-21 20:44] matheusml opened #25 "Create an example with SSR"
Discussed here #22

[2017-10-21 20:45] matheusml commented on #22
Since it can be done, let's create a simple example with SSR.
I'm closing this, we should use #25 now

[2017-10-21 20:45] #22 closed

[2017-10-21 20:48] matheusml commented on #23
Hi @bestguy

Are you ok with @malbernaz 's answer? Do you still have a doubt about computed values?

[2017-10-21 20:48] #23 closed

[2017-10-21 21:24] matheusml commented on #16
Let me introduce you to alternative #4

So, I stumbled to a library called [elfi](https://github.com/madx/elfi) which is incredibly similar to Redux Zero. Elfi's approach is simple: store dispatch actions. And actions are functions that have as an input the current state, and returns the modified state (pure functions \o/).

This is how it works:

[code]
 You can read more about it [here](http://m

[2017-10-21 22:42] bestguy commented on #23
Yes thanks, I'm fine closing.  Answer is not exactly what I'd "like" in that the derived data is then defined in the component vs store, but this helps, thanks.

[2017-10-21 23:16] dmmulroy commented on #14
@DarrylD I took a first shot at this, would love feedback on my PR as I've never built a render callback component! Could probably also use some better TS support.

See #26

[2017-10-22 00:20] matheusml commented on #20
@malbernaz is taking this, right?

[2017-10-22 00:20] matheusml commented on #21
I'll get this

[2017-10-22 15:30] eirslett commented on #16
Maybe actions can also be generators instead of just pure functions, then they can do side effects as well:

[code]

Pure generator functions are also easy to unit test, just like redux sagas.

[2017-10-22 16:33] rafaesc commented on #20
Hi @matheusml, I'd like to take this

[2017-10-22 16:47] matheusml commented on #20
Sorry @rafaesc but I'm pretty sure that @malbernaz is almost done on this one :(

[2017-10-22 16:49] rafaesc commented on #20
ok @matheusml, no problem

[2017-10-22 20:53] #14 closed

[2017-10-23 08:01] ruslan-mystore opened #29 "Chrome devtools extension for redux-zero ?"
There is chrome extension for redux zero ?

[2017-10-23 09:29] blackpr commented on #29
Not yet
https://github.com/concretesolutions/redux-zero/issues/19

[2017-10-23 09:34] #29 closed

[2017-10-23 09:50] blackpr commented on #19
If we don't have reducers and a dispatcher does this mean that there is no way to capture the actions?
Also does it means that we cannot send the actions to redux devtools?

[2017-10-23 10:12] blackpr commented on #19
We can record the current state to redux devtools and jump to specific state.
In store.js:
[code]

[2017-10-23 13:25] matheusml commented on #19
Not yet @blackpr

But after we have a solution to [this problem](https://github.com/concretesolutions/redux-zero/issues/16), maybe that's going to be possible. I think it's great that the community is already thinking about this, but right now we have two major concerns:
- [Add Preact bindings](https://github.com/concretesolutions/redux-zero/issues/20)
- [Bind actions instead of coupling them to t

[2017-10-23 13:48] blackpr commented on #19
sure @matheusml No problem :)

[2017-10-24 00:22] developit commented on #16
@matheusml Definitely an interesting option having them be associated with the store. I guess that decision comes down to how you view `redux-zero` being used. For me, the Gist I had originally sent was just a way to bind to shared state, and update it ad-hoc.  Adding actions bound via connect() helps standardize them and create more self-documenting code, and it allows actions to be shared as mod

[2017-10-24 00:24] developit commented on #19
@matheusml - I wonder if it'd be worth throwing this basic version in as an entrypoint?

[2017-10-24 06:42] Guru107 commented on #25
I can take this up?

[2017-10-24 07:10] Yevs opened #31 "does not work with immutable.js object as state"
Due to object destructuring in `createStore` immutable.js objects are losing some of their methods, e.g. `Map` loses `getIn`, `setIn` etc.

[2017-10-24 11:39] matheusml commented on #31
Thanks for the warning @Yevs

Do you have something in mind for the possible solution?

[2017-10-24 11:39] matheusml commented on #25
Yeah @Guru107. It's yours. :100:

[2017-10-24 11:53] matheusml commented on #19
@developit - Isn't a problem that is coupled to Redux Devtools?

[2017-10-24 12:34] Yevs commented on #31
if you are ok with breaking the current API, we might not merge updated state into current state but just update current state with updated state, e.g.:
[code]

[2017-10-24 13:29] matheusml commented on #31
Right now, this is what we get:

[code]

With this new approach that you're suggesting, this is what is going to happen:

[code]
This means that we're pretty much losing the state history. Are you aware of that?

[2017-10-24 15:00] Yevs commented on #31
Yeah, I understand, that's why I said that this will break current API. If you want to save this behavior we can just add something like `import { createStore } from 'redux-zero/replace-store-state-or-whatever'` for immutablejs users

[2017-10-24 16:20] matheusml commented on #31
@Yevs that's an interesting approach. What you think about this @malbernaz ?

[2017-10-24 19:18] malbernaz commented on #31
I think we can support immutablejs specifically. Not sure about other libraries.

[2017-10-24 19:27] matheusml commented on #31
Maybe the same API of regular `createStore`, but you can import it like this:

[code]

Wanna go for it @Yevs?

[2017-10-24 20:21] malbernaz commented on #31
Thinking about it more in depth I think this is out of scope : /.

We should think of how trivial would it be to implement this in the code we already have. For instance, how would `store.setState` work?

In `redux` is fine to use `immutable` because the state is not manipulated directly.

And more: if we want to use `immutable` in the store today we can do it as we do in a react component state,

[2017-10-25 12:48] matheusml commented on #31
Good point @malbernaz

@Yevs let's say that we add another function to the Store, `immutableSetState`. And this function will be exactly like you proposed:

[code]

How is the application going to work if you're not saving the state history? Could please guide me here, because I'm not very familiar with Immutable.js?

[2017-10-25 13:00] Yevs commented on #31
@matheusml  I am not actually sure about what you mean by "saving the state history" but I will explain how I see it functioning. It would work in a similar way to how regular redux works, e.g. current state goes through some business logic and then new state is returned: `onClick() -> store.getState() -> state -> update(state) -> newState -> store.immutableSetState(newStore) -> rerender react`. I

[2017-10-25 13:11] dancomanlive opened #32 "Is redux-zero compatible with React Native ?"
Let's find out...

[2017-10-25 13:12] dancomanlive opened #33 "Does redux-zero support async actions ?"

[2017-10-25 16:06] malbernaz commented on #33
It does! Today that is the anatomy of an async action:

[code]

We are discussing some changes to the API though. Pay close attention to #16

[2017-10-25 16:07] #33 closed

[2017-10-25 17:04] matheusml commented on #16
Hey guys, just opened the PR.
Option #3 it is. Why?
- Pure functions
- Sync and async enabled
- Easy API

Could you ( @malbernaz, @developit, @eirslett )  please take a look?

[2017-10-26 06:49] axetroy commented on #13
@matheusml
Can I use redux middleware? example,  redux-persist

[2017-10-26 10:58] guilhermefloriani commented on #32
I started a new app yesterday and the counter example was working fine for me.

<img width="890" alt="screen shot 2017-10-26 at 08 56 51" src="https://user-images.githubusercontent.com/4841110/32049419-bcb1b544-ba2b-11e7-9b28-3c204a3615e0.png">

[2017-10-26 12:01] matheusml opened #35 "Create an example with React Native"
#32

[2017-10-26 12:02] matheusml commented on #32
@guilhermefloriani could you please send this example in a PR? This will help a lot!
Please take a look at this issue #35

[2017-10-26 12:02] #32 closed

[2017-10-26 12:22] guilhermefloriani commented on #35
I wrote a counter app example yesterday like I comment on #32, but there is no difference from the web version, except that instead of using `ReactDOM` to render your main component, you register it using `AppRegistry` of `react-native`, but this has nothing to do with redux.

If I write an code example it will be almost equal the code in `README.md`, but if it is really necessary I can create an

[2017-10-26 12:50] matheusml commented on #35
@guilhermefloriani

The ideal version should be an `examples/` folder in the root of this repository. Like this:

[code]

So that in the README, we can create a new section linking to all the examples, like this:

**More examples**
- [React]()
- [Preact]()
- [React Native]()

See what I mean?

[2017-10-26 12:59] matheusml commented on #13
@axetroy could you describe in more details what you mean by that?

[2017-10-26 14:25] DarrylD commented on #13
@axetroy i think something like that would need to be recreated with actions.

But, I do think it may be a good idea to implement something that allows you to use the many redux middleware libs. Part of the buy in for redux is the ecosystem.

[2017-10-26 14:28] axetroy commented on #13
@DarrylD
yeah. redux ecosystem is complete. got many middleware.

If redux-zero can reuse it. that must be awesome and powerful.

[2017-10-26 14:32] axetroy commented on #13
@matheusml
I mean, support redux middleware, many should happy to see that.

redux community have a lot of superior middleware.
many of them will not rewrite again just for compatibility with redux-zero.

[2017-10-26 16:15] guilhermefloriani commented on #35
Sure, seems good.
I'll try to do it tonight.

[2017-10-26 16:15] #16 closed

[2017-10-26 16:29] matheusml commented on #13
What you suggesting is something like this:

[code]

We can have an optional parameter to `createStore` that accepts external middlewares, but without implementing any specific middleware to Redux Zero.

Is that right?

[2017-10-26 16:30] matheusml commented on #35
Thanks @guilhermefloriani
That will be awesome. :100:

[2017-10-26 16:31] axetroy commented on #13
@matheusml
damn right!:+1:

[2017-10-26 16:55] matheusml opened #36 "Create middleware"
#13

[2017-10-26 16:55] matheusml commented on #13
Seems awesome to me. Any of ( @axetroy, @DarrylD ) you want to take it?
I just created the issue #36

[2017-10-27 12:20] eyamenko opened #37 "async/await example?"
Hi there,

First of all, redux-zero looks really great and simple.

Could you please provide an example with async/await or Promises?

Thanks!

[2017-10-27 12:27] matheusml commented on #37
Thanks @eyamenko

If you want something fast, we have an example in the unit tests. [Just check this out](https://github.com/concretesolutions/redux-zero/blob/master/src/react/components/connect.spec.tsx#L72).

But in the future, we're going to add more React examples, and of course one with async/await and promises.

[2017-10-27 12:27] #37 closed

[2017-10-27 12:33] matheusml commented on #31
@Yevs thanks a lot for the time, but I think that this is out of scope **for now**.
We have some other priorities right now, and maybe in the future we can talk more in depth about this again, ok?

[2017-10-27 12:33] #31 closed

[2017-10-27 12:34] matheusml commented on #20
Hey @rafaesc do you still want this?

[2017-10-27 14:22] Yevs commented on #31
No problem, thank you guys for such a great library! :+1:

[2017-10-27 14:29] matheusml commented on #31
Thank you @Yevs

And we get back to this, I'll make sure you're involved.

:100:

[2017-10-27 17:28] DarrylD commented on #13
I'm still swamped with work (like the render-prop feature I wanted to tackle 😂). Hopefully, I'll have time soon.

[2017-10-27 17:33] guilhermefloriani commented on #35
What do you think @matheusml ?

[2017-10-27 22:38] #35 closed

[2017-10-27 22:46] matheusml opened #39 "Add an example with React"
Add an example (to the examples folder) of an application with React using Redux Zero.
PS.: Counter, To-Do List, etc

[2017-10-27 23:08] eyamenko commented on #37
Thanks @matheusml

[2017-10-28 05:25] Kiho opened #41 "Svelte connect & example."
I like to add Svelte support in redux-zero.
Please review my project and let me know what I have to do more to make PR.
https://github.com/Kiho/redux-zero
While I was making this I hit 2 problems.
1. React dependency - Svelte does not need react at all
2. npm run format command break on windows machine(not sure maybe only me).

[2017-10-28 13:12] matheusml commented on #41
Thanks for this @Kiho

I do want to make a PR, but we need unit tests on what you're adding, ok?

About your problems:
1. React is not a dependency, is a peer dependency. For this to work with Svelte, just go to the `peerDependencies` in the `package.json` file and add Svelte there.
2. I don't know about this error. Could you please provide more information about this?

Thanks again!

[2017-10-28 16:28] Kiho commented on #41
Thanks for quick response.
I will add unit tests but it will take a while.
And below is error  I am getting on format command.
It is working fine if I change single quote to double quote.
   ` "format": "prettier --write --no-semi 'src/**/*.ts' 'src/**/*.tsx'", `
->
   `"format": "prettier --write --no-semi \"src/**/*.ts\" \"src/**/*.tsx\"",`

0 info it worked if it ends with ok
1 verbose cli [ 'C

[2017-10-28 17:10] matheusml commented on #41
Well, if that solves the problem, could you please send a PR changing it?

Thanks @Kiho 👍

[2017-10-29 00:01] Kiho commented on #41
Now my master has other changes and I think that format problem is very minor issue, maybe everybody is coding  on Mac, so I will send PR when my unit tests are ready.
Thanks.

[2017-10-29 01:41] matheusml commented on #41
That's ok @Kiho

No rush here :)

[2017-11-01 13:33] matheusml commented on #20
Hi @malbernaz

Is there something that I could help on your PR?

[2017-11-02 00:12] #41 closed

[2017-11-02 00:16] matheusml opened #44 "Update Svelte example"
Right now, `Counter.html` is doing this:

[code]

But it should be doing this:

[code]

@Kiho, could you please change this and check if everything is working?
You should probably update the npm version from the example to 4.3.0

[2017-11-02 03:25] Kiho commented on #44
All done, works great.
Thanks.

[2017-11-02 22:05] #44 closed

[2017-11-04 04:14] brenwkennedy opened #46 "Actions run onClick but not in class handlers"
I just started using Redux Zero and came across an issue, I am most certainly making a mistake!

When I use onClick={action} , state is successfully updated and everything is great :)

When I move {action} into my class handler `onClick{this.handleRefresh}`, state is not updated and the function is not called.

I've attached my full setup.
React V16

actions.js
[code]

LibraryRefreshIcon.js
[code]

[2017-11-04 04:55] brenwkennedy commented on #46
I'm a noob :)

you can run actions in handlers by using `action()` - just needed the parenthesis.

Redux zero is great.

[2017-11-04 04:56] #46 closed

[2017-11-04 23:00] Kiho opened #47 "TypeScript module resolution"
According to this https://github.com/Microsoft/TypeScript/issues/2568#issuecomment-308792266
looks like you need to change this entry in package.json from
  `"typings": "dist/index.d.ts"` to `"types": "dist/index.d.ts"`
I try to reference redux-zero/svelte in ts module but it does not work.
I had to change import statement `import { getActions } from 'redux-zero/dist/svelte'` to make it work.

[2017-11-05 05:25] eyamenko commented on #47
I'm experiencing the same issue, when trying to import `Provider` module from `redux-zero/react`.

[2017-11-05 06:25] Kiho commented on #47
I think you can do either import `redux-zero/dist/react` or change `"typings": "dist/index.d.ts"` to `"types": "dist/index.d.ts"` in package.json under node_modules/redux-zero.
second option only works until npm update in my testing.

[2017-11-05 10:47] matheusml commented on #47
Hi @Kiho

Thanks a lot to noticing this!
Do you want to take this bug?

[2017-11-05 10:51] matheusml commented on #46
No problem @brenwkennedy

Sorry for not answering this earlier :(

[2017-11-05 13:28] #39 closed

[2017-11-05 17:26] Kiho commented on #47
Hi @matheusml, I will submit PR.

[2017-11-05 18:18] Kiho commented on #47
I tested more and found my second solution does not work, my setup for test was wrong.
So I have to use first solution for my self now. one thing I know is if I move up files in `/svelte/svelte` to  `/svelte` then works but I am not sure how I can make that at build time.
Thanks.

[2017-11-06 04:39] dnlsngr commented on #47
While you're fixing typings, the interface for at `react/interfaces/Store.d.ts` contains an `unsubscribe` field that looks like it became private in commit `d7bce4d786c25a6b7264b835378f7ae8df8c4bc0`. If I remove it (and shuffle the typings around as @Kiho points out) then my app compiles. I'm happy to make a separate issue and submit a PR for that.

[2017-11-06 11:46] matheusml commented on #47
@dnlsngr thanks for that!

Yes, please open a PR for that :100:

[2017-11-06 14:26] QuantumInformation commented on #47
I'm getting

`node_modules/redux-zero/react/index"' has no exported member 'Provider'.`
![image](https://user-images.githubusercontent.com/216566/32445693-7a86c8f4-c2fe-11e7-890b-9ccb3132ecf4.png)

[2017-11-06 14:48] QuantumInformation commented on #47
The provider is not exported, only:

![image](https://user-images.githubusercontent.com/216566/32446643-76f94222-c301-11e7-92f8-9af99846dbc7.png)
not
![image](https://user-images.githubusercontent.com/216566/32446657-8069b634-c301-11e7-92fa-d81cd69c6bbf.png)

![image](https://user-images.githubusercontent.com/216566/32446681-91bf35d0-c301-11e7-8ac4-d91be41b74ad.png)

[2017-11-06 15:00] QuantumInformation opened #50 "Example with react router?"
This could be quite helpful.

[2017-11-06 15:55] matheusml commented on #50
Yes, it would.
Wanna take this @QuantumInformation ?

[2017-11-06 16:01] matheusml commented on #47
Hi @QuantumInformation

We're using it inside our examples folder, with the React counter example, and as you can see it's working just fine:

![Imgur](https://i.imgur.com/dQKYGur.png)

I'm not really sure what you're doing wrong here. Maybe `rm -rf node_modules` and  `npm install` again.

[2017-11-06 16:05] QuantumInformation commented on #47
I'm using it with TypeScript

[2017-11-06 21:06] Gi972 opened #53 "pass payload"
Hello guys,
I try redux zero with a input type text but I can't get the payload when I use the onChange event. it's normal or a bug?

Thanks

[2017-11-07 05:06] Kiho commented on #47
Hi @matheusml,
I made PR to fix svelte definition files but I did not touch react side because issues with interfaces.
I think, apply code below and deploy interfaces folder may work, but it might be better to move that under react. it should be OK to reference that in react from all other sub react components.
And don't have time to play with react this time.
[code]

[2017-11-07 11:52] matheusml commented on #53
Could you please show us the code, or even better, create a small example on codesandbox?

[2017-11-07 13:06] Gi972 commented on #53
Hello,

Yes this is the link : https://stackblitz.com/edit/react-lps2th?file=actions.js.

I take your counter for simple example.  If I want increment with 10 or other number  for example.

Your first param return the state ok , but the second should be take my payload .

Or maybe there is a different way for this.

Thanks @matheusml

[2017-11-07 14:19] matheusml commented on #47
Just to make it clear.

It works just fine to use this with JavaScript:

[code]

or this with TypeScript:
[code]

But this, with TypeScript, is currently not working:

[code]

[2017-11-07 14:33] matheusml commented on #53
Yes, there's another way. You can use the old way, before auto-bindings the actions.
In this way, you have to import the store inside your actions.

Please read it on the [old example readme](https://github.com/concretesolutions/redux-zero/blob/0a3359a7cd2317a9d92c88e3725df55f1a1f76f2/README.md)

Btw, maybe there's a way of doing it with the new way, but right now I simply don't know.

[2017-11-07 14:33] #53 closed

[2017-11-07 16:43] Kiho commented on #47
I my knowledge, `import * as ReactReduxZero from 'redux-zero/react'` only works if there is no need to resolve types in down stream or
you may end up doing something like this `const rzr: any = ReduxZeroReact`
Btw, if you want to include same thing for react in my PR then I need to deploy interfaces folder to node_modules. please clarify.
I think all the complexity here came from tree structure of

[2017-11-07 16:46] matheusml commented on #47
You're 100% right @Kiho

I just made a new [PR](https://github.com/concretesolutions/redux-zero/pull/57) that's solving this.

[2017-11-08 00:24] #47 closed

[2017-11-08 00:39] matheusml opened #58 "Passing parameters on actions with Render Props"
In #53, we discussed ways to pass parameters (payload) in the actions.

For example, if we want an `increment` action, with a dynamic value to be incremented:

[code]

With our current code base, this can be easily done by simple using the second argument of the `increment` function, like this:

[code]

There's just one problem: this only works for the HOC `Connect`. For some reason this is not wo

[2017-11-08 00:43] matheusml commented on #58
Does this work fine with Svelte, @Kiho ?

[2017-11-08 01:00] Kiho commented on #58
In svelte example this works.

actions.ts
[code]
Counter.html
[code]

[2017-11-08 10:11] Gi972 commented on #58
Hello guy,
I test this morning it works I make a mistake, I make :
the payload works

`increment: state => payload => ({ count: state.count + payload })`
instead
`increment: (state, payload) => ({ count: state.count + payload })`

an old habit...

Hum...

[2017-11-08 10:30] Gi972 commented on #58
so for the example with payload... you can use my example:
https://stackblitz.com/edit/react-lps2th?file=Counter.js

Thanks for your attention...

[2017-11-08 10:43] dogada opened #59 "Pros and cons of redux-zero vs fast-redux"
Nice idea! Please also take a look onto my attempt to make Redux simpler: https://github.com/dogada/fast-redux

I made fast-redux to reduce classic Redux boilerplate, achieve O(1) store update speed and allow extending a store with new actions when you dynamically load new javacript code using code splitting. My version is backward compatible with Redux and Redux DevTools however.

Can you, please

[2017-11-08 11:48] matheusml commented on #58
Hi @Gi972

I didn't understand your message, because I pretty much said the same thing.

The reason why I opened this issue, is because although passing the parameter is working just fine for HOCs (i.e. the `Connect` function) but for some reason, the same thing isn't working for the Render Props function (i.e. the `connect` function).

[2017-11-08 12:01] matheusml commented on #25
Hi @Guru107

Can I help you with this one?

[2017-11-08 12:18] matheusml commented on #59
Thanks for the questions @dogada, it's awesome to see that you're interested in Redux Zero!

1. Our actions are just dead simple javascript pure functions. Please take a look at an example [here](https://github.com/concretesolutions/redux-zero/blob/master/src/react/components/connect.spec.tsx#L72).
2. I don't see why this would be a problem here. The actions are automatically bound to the componen

[2017-11-08 12:19] #59 closed

[2017-11-08 14:32] dogada commented on #59
Thanks for your answer @matheusml. It will be interesting to see serialization/deserialization of the store in SSR example.

[2017-11-08 19:30] matheusml commented on #58
Let me just correct myself here. I was confused about the HOC and Render Props.
The `Connect` function is the Render Props one, and it's working fine.
But the HOC, with is the `connect` function, isn't working.

[2017-11-08 21:16] Gi972 commented on #58
:-D !

I'm lost can you make a example?

[2017-11-09 04:08] Guru107 commented on #25
Hey @matheusml was caught up in other work wasn't able to look at it. I m planning to getting it done over the weekend. Will definitely bug you if I need any help. Cheers 👍

[2017-11-09 13:26] matheusml commented on #58
@Gi972

I just made a PR with both examples working just fine.
I'm closing this.

[2017-11-09 13:26] #58 closed

[2017-11-09 23:59] #20 closed

[2017-11-10 00:00] matheusml opened #63 "Add Preact example"
It can be exactly like the react counter in the `examples/ folder`

@malbernaz can take this one?

[2017-11-10 00:01] malbernaz commented on #63
I'll take it!

[2017-11-10 12:15] #63 closed

[2017-11-10 21:51] aMarCruz opened #65 "Please remove peerDependencies"
For all of us using other tools than Preact (or React).

![image](https://user-images.githubusercontent.com/6636980/32680147-f1feb85a-c62e-11e7-9b7f-f6383f002bb4.png)

...and thanks for your hard work!

[2017-11-11 03:22] renatorib opened #66 "Add documentation of action arguments"
I had to explore the source code to find that action arguments come from the second parameter (and later) after state

[code]

Yeah, I know it's simple and I did not see any problems with choice of API (although I prefer it curried), but **it's not** intuitive. It's not something anyone can easily **guess by**.

I think that a small example of these in readme, such as incrementBy, would help peopl

[2017-11-11 03:38] renatorib commented on #13
The redux middlewares relies on redux dispatch that's a simple/raw object with `type` and other inputs.
Middlwares can easily track these dispatch inputs, as well as their types.

Redux-zero don't have dispatchs, it's a simple sotre with `setState` and `getState`

I guess it's impossible to port some redux middleware to redux-zero.

[2017-11-11 04:03] renatorib commented on #36
As I said here https://github.com/concretesolutions/redux-zero/issues/13#issuecomment-343637643 I think it's not possible to make a redux middleware work with redux-zero.

Maybe redux-zero can have your own middleware system, but I can not think of a practical application, since actions are pure functions.

[2017-11-11 04:43] renatorib opened #67 "Delete merged/abandoned branches"
Will make it more easy to find WIP feature/fix works

[2017-11-11 12:00] matheusml commented on #66
Hi @renatorib
We're already on it here: #21

But thanks for the tip anyway

[2017-11-11 12:00] #66 closed

[2017-11-11 12:04] matheusml commented on #67
You're 100% right. I'm doing it right now. Thanks

[2017-11-11 12:04] #67 closed

[2017-11-11 12:16] matheusml commented on #36
Thanks for this @renatorib

What you think, @axetroy, @DarryID ?

[2017-11-11 15:58] k1r0s opened #71 "weird TypeError with TypeScript on createStore func"
Given the following implementation

![image](https://user-images.githubusercontent.com/6052309/32690924-cc208a06-c6ff-11e7-9c8a-9fe4088d12ce.png)

I got this err: `Uncaught TypeError: redux_zero_1.default is not a function`

I look a little bit on the bundle settings and I found that the main file which is served by default isn't on UMD format:

`"main": "dist/redux-zero.js",`

because of this:

!

[2017-11-11 15:59] k1r0s commented on #71
Perhabs the tests should be performed against the build output instead the source ones?

[2017-11-11 17:59] renatorib commented on #67
Thankss!!

[2017-11-11 18:02] renatorib commented on #66
Oh, great. Thanks

[2017-11-11 22:06] renatorib commented on #71
I'm almost sure this is not related to TypeScript.

[2017-11-11 22:12] renatorib commented on #21
Is there any initial work already?

[2017-11-11 23:18] k1r0s commented on #71
The question is how nobody figure about this before? May I miss something but the implementation is quite simple :/

[2017-11-12 00:23] renatorib commented on #71
I'm using redux-zero here and it's working as expected... You can create some minimal reproduction of this bug? So I can help investigate

[2017-11-12 00:35] matheusml commented on #71
Hi @k1r0s

Please do as @renatorib said. We need a minimal setup here to see what's going on.
Are you using TypeScript right? But with UMD?

[2017-11-12 00:39] matheusml commented on #21
Not yet. This is really big, every time I start to do it, I freeze and stop.

[2017-11-12 00:42] matheusml commented on #65
Hi @aMarCruz

Thanks for opening this.

So, this is tricky. If I remove the `peerDependencies` the build throws some warnings. I have to investigate more.

[2017-11-12 04:40] k1r0s commented on #71
Nevermind, I'm using es module, I was suppose the problem was about that l because it seems really weird. I can't provide an example right now but I'll do.

[2017-11-12 09:32] Guru107 commented on #25
Hey @matheusml check out the [Repo](https://github.com/Guru107/redux-zero-ssr-example) . Let me know your feedback.

[2017-11-12 11:00] seveves opened #75 "How do you work with side effects?"
for example I have three actions that fetch data via HTTP: fetch, fetchSuccess, fetchError

is something like the following "ok"?
[code]

[2017-11-12 11:35] k1r0s commented on #75
I try to keep actions as pure as posible (state in / state out) and manage the side actions in the component with something like this to keep component as clean as posible:

[code]

[2017-11-12 12:33] k1r0s commented on #71
I'll upload a minimal repo to actually reproduce the issue. But can be solved doing this:

![image](https://user-images.githubusercontent.com/6052309/32698946-00491434-c7ae-11e7-9352-e3251a9c9a09.png)

[2017-11-12 12:36] k1r0s commented on #71
https://github.com/k1r0s/rzero-imports-tmp here is the code, thanks in advantage

[2017-11-12 16:05] malbernaz commented on #25
@Guru107 this is looking awesome!

[2017-11-12 17:35] matheusml commented on #75
Hi @seveves

That's a good question. Right now we don't have the full documentation, but we have [some examples on dealing with async functions](https://github.com/concretesolutions/redux-zero/blob/master/src/react/components/connect.spec.tsx#L103).

But, I think that your example is 100% fine.

@malbernaz have something to add here?

[2017-11-12 17:41] matheusml commented on #25
This is awesome @Guru107

Please add this to the `examples/react` folder!

[2017-11-12 17:47] matheusml commented on #71
Thanks for this @k1r0s
I'll investigate

[2017-11-12 17:52] #71 closed

[2017-11-12 18:17] #65 closed

[2017-11-12 19:43] seveves commented on #75
@k1r0s and @matheusml ... thank you for your answers!
I want to remove all the async http logic from my components to keep them as simple as possible but of course the actions should stay as pure as possible. As always you have to compromise. And redux-zero should stay small and simple so it's ok that the users have to find a way to go with.
But yeah ... maybe it would be helpful to have something

[2017-11-12 19:59] malbernaz commented on #75
@seveves you are thinking as if you were using redux... In redux-zero we expose the store in the actions function to better support async. You don't need to have three actions to handle a fetch request, you can do something like this:

[code]

[2017-11-12 20:04] seveves commented on #75
so `const actions = store => ({ ... })` is the same as `const actions = ({ getState, setState }) => ({ ... })`? Not needing the three actions sounds very nice :)

[2017-11-12 20:06] malbernaz commented on #75
exactly the point! Rule of thumb is: if your action is async use the store methods, otherwise just use the state parameter from the action.

[2017-11-12 21:04] matheusml commented on #75
If you have more questions @seveves feel free to ask.
For now, I'm closing this 👍

[2017-11-12 21:04] #75 closed

[2017-11-12 21:05] malbernaz commented on #75
Although thinking about this example, maybe it would be nice to perform something like this:

[code]

And this kind of action, probably have a better testability. It could be done roughly like this:

[code]

@matheusml, your opinion please.

[2017-11-13 07:22] aMarCruz commented on #65
Thanks!

[2017-11-13 12:54] matheusml commented on #75
Since async/await is what the cool kids are doing, and the readability for this case is better, I think we should do it :+1:

[2017-11-14 06:22] Kiho commented on #36
@matheusml This looks very good for me can we try to make middleware  to handle API calls?

[2017-11-14 11:57] matheusml commented on #36
What you mean by that @Kiho?
Could you describe it with more details?

[2017-11-15 05:17] Kiho commented on #36
I will create a sample project in couple of days. I am think about to convert async actions to middleware.

[2017-11-16 16:21] k1r0s opened #78 "redux question, Shared state?"
(I'm pretty new at redux, about one week)

I have two components, both need to render a list of items.

One third component dispatch an action to update the item list which lives on the store.

When the store get updated two listeners invoke `update` func in `Connect` component (which wraps each component)

![image](https://user-images.githubusercontent.com/6052309/32902345-6f0df0a0-caf2-11e7-943c

[2017-11-17 04:58] Kiho commented on #36
Hi @matheusml I create sample project here https://github.com/Kiho/redux-zero/blob/middleware/examples/svelte/middleware/src/middleware/promise-middleware.ts to handle CRUD operation with @renatorib 's redux-zero middleware implementation.
It's not done and my method detection is not great but I think it's enough to show what it is.
Please check it out and let me know what do you think.

[2017-11-17 12:22] matheusml commented on #78
Thanks for opening this @k1r0s

@malbernaz do you have something to say here?

[2017-11-17 12:28] matheusml commented on #36
Hi @Kiho

Thanks for sending this.
So, @malbernaz improved the way we handle async actions a few days. [Please take a look](https://github.com/concretesolutions/redux-zero/pull/76).

With that said, comparing to this solutions with middlewares, in my opinion, I really prefer @malbernaz's version.

[2017-11-17 15:23] k1r0s commented on #78
I have to apologize, the state isn't shared between componets as long as you propertly implement `mapToProps` function in the Connect component. The thing is I need to properly understand what's going on.

I often do this and I guess I need to explicitly deconstruct the state and pass properties down. But why do I need to this for each component that read the state?

[code]

[2017-11-17 17:02] Kiho commented on #36
Hi @matheusml,
I am not suggesting to replace  @malbernaz 's async action, just suggest you to ask  @renatorib to PR his mddileware system to redux-zero to give more flexiblity to consumers https://gist.github.com/renatorib/7364524579f5dbbc302030c9d1a3e7fb
This is the only part need to be added in redux-zero core is  https://github.com/Kiho/redux-zero/commit/25b8c731405394f76cb2470b4b4472efcca2b01

[2017-11-19 01:49] Kiho commented on #36
@matheusml, I removed all hard coding here https://github.com/Kiho/redux-zero/blob/middleware/examples/svelte/middleware/src/middleware/promise-middleware.ts

[2017-11-20 12:08] matheusml commented on #36
Ok, @Kiho I agree with you.

@renatorib could you please add this to the project?

[2017-11-20 12:09] matheusml commented on #78
Hi @k1r0s

Is there something we can do to help you with this one?

[2017-11-20 12:21] k1r0s commented on #78
well, yeah, the problem/question is fulfilled. Just wana know the behavior of `mapToProps` specificly.. thanks!

[2017-11-20 12:21] #78 closed

[2017-11-20 13:10] Guru107 commented on #25
@matheusml this issue can be closed

[2017-11-20 17:18] #25 closed

[2017-11-20 17:33] Kiho commented on #36
Hi @renatorib Please supply name as parameter `return middleware(store)(newAction, name)`

[2017-11-21 14:12] renatorib commented on #36
Maybe I did not get it right, but, what's this `name`?

[2017-11-21 15:58] Kiho commented on #36
Hi @renatorib, I can use name to filler actions in middleware, my code was very messy without it.
https://github.com/Kiho/redux-zero/blob/middleware/src/utils/bindActions.ts#L8
https://github.com/Kiho/redux-zero/blob/middleware/examples/svelte/middleware/src/middleware/logger-middleware.ts#L1
https://github.com/Kiho/redux-zero/blob/middleware/examples/svelte/middleware/src/middleware/promise-middl

[2017-11-22 12:51] guilherme6191 commented on #50
Hello guys. Is this being done? If not, maybe I could help out.
@matheusml

[2017-11-22 13:01] QuantumInformation commented on #50
I've been snowed this month

[2017-11-24 03:33] yeojz commented on #36
Hi @matheusml

Throwing in another possible middleware implementation for consideration.
The method signature and application was referenced from original redux middleware.

I haven't gone too much into the tests and docs yet, just wanted to throw this out and get feedback before going too much into it.

https://github.com/concretesolutions/redux-zero/compare/master...yeojz:feature/middleware

[2017-11-24 14:08] renatorib commented on #36
Hi @Kiho

I honestly do not like to pass the "name" of the action next to the middleware. It's name is not referenced to action itself (because it's just a pure function), but it's the bounded name, referenced in `mapToProps`. It could cause a bunch of conflicts and bugs difficult to identify, because I can bound in my whole application various actions and certainly some may have the same name. It

[2017-11-24 18:58] Kiho commented on #36
Hi @renatorib

Maybe you are right. I understand possible naming collision and there is no guard for that.
But some use case like code sample above, I like to execute action selectively.
If you have any other way to accomplish that then I would be happy.

[2017-11-24 20:17] Kiho commented on #36
I made little bit safer version. https://github.com/Kiho/redux-zero/blob/middleware/examples/svelte/middleware/src/middleware/promise-middleware.ts

[2017-11-24 21:17] matheusml commented on #36
@renatorib and @Kiho

what you think about @yeojz's version? I think it's really promising

[2017-11-25 00:20] Kiho commented on #36
Hi @matheusml

I don't have time to test actual code now but  @yeojz's code looks very nice, specially middleware is totally pluggerable no code added to core other than place holders.

[2017-11-25 16:26] matheusml commented on #36
Exactly @Kiho

What about you @renatorib, do you have something to add?

[2017-11-26 18:45] Gamesh opened #81 "how to get ownProps?"
[code]
if i pass a prop color="blue" to the connected component it's not accessible inside Counter component as a prop. Only props that you return from mapToProps function are passed as constructor props.
Redux passes properties as ownProps as the second argument of mapToProps function.

Is it missing from redux-zero or am i doing something wrong ?

[2017-11-27 00:05] matheusml commented on #81
@malbernaz do you have an elegant way to handle this?

[2017-11-27 00:16] malbernaz commented on #81
We pass ownProps as the second argument for mapToProps as well. But this props should be accessible inside a connected component. Maybe this is a bug. @Ganesh could you show us how you are connecting your component?

[2017-11-27 07:43] Gamesh commented on #81
just tried to recreate it on a sandbox and it works, so probably it's the late hours to blame.

Would be good to have the API documented somewhere, because i only found this searching through redux documentation. It's not even in the examples.

thanks for redux-zero, i love the simplicity

[2017-11-27 07:43] #81 closed

[2017-11-27 18:36] malbernaz commented on #81
This is actually not working @Gamesh. I have identified the bug and our `connect` HOC is in fact not getting the props passed to it in our latest release.

I'll submit a PR tonight to fix that. Please hang on!

cc @matheusml

[2017-11-27 19:07] malbernaz commented on #81
#82 solves this. @matheusml: waiting for you to merge it.

[2017-11-28 09:24] Gamesh commented on #81
thanks for double checking and fixing 👍

[2017-11-28 19:15] matheusml opened #83 "Add Vue.js bindings"
Same as  [Preact bindings](#20)

[2017-11-30 19:31] matheusml commented on #36
@yeojz could you please open a PR with this?

[2017-12-02 03:52] Kiho commented on #83
I made Vue.js bindings based on Svelte, let me know how do you think?

[2017-12-03 10:39] matheusml commented on #83
This is great @Kiho

I don't know much about Vue, but this seems awesome. Could you please open a PR with this?

[2017-12-07 23:04] #36 closed

[2017-12-08 12:09] blackpr commented on #19
Now that we have middleware support https://github.com/concretesolutions/redux-zero/issues/36 we can use something like this https://codesandbox.io/s/qvnm8w597q to capture actions and state to redux devtools

[2017-12-08 16:09] matheusml commented on #19
I agree with you @blackpr

Could you please open an issue/PR with this?

[2017-12-08 17:06] #21 closed

[2017-12-08 17:07] matheusml commented on #50
@guilherme6191 and @QuantumInformation any of you still want this one?

[2017-12-08 20:42] QuantumInformation commented on #50
yes pls

[2017-12-09 13:24] blackpr commented on #19
I dont think I know how to do this.
Sorry :(

[2017-12-09 14:54] jawadst opened #86 "Export bindActions function"
Hey,

My use case is the following: I have a library that uses Preact and exposes a public interface on the `window` object. The library itself creates some components and allows the webpage to interact with them through functions on `window.Library`.

For instance, calling `window.Library.openDialog()` should render a Preact component.
I need to execute actions from that `openDialog` function tha

[2017-12-09 15:55] matheusml commented on #50
Ok @QuantumInformation

[2017-12-09 16:00] matheusml opened #87 "Add chrome dev tools"
As discussed here #19 , now that we have a middleware, we can implement some sort of dev tools.

[2017-12-09 16:06] matheusml commented on #86
Hi @jawadst

Thanks for opening this.

Could you please describe your use case with more code?
I'm having a hard time trying to see what the problem is.

[2017-12-09 19:21] Gamesh commented on #87
why not if possible make use of existing ones and integrate them.

BTW here link doesn't work

[2017-12-09 19:41] jawadst commented on #86
@matheusml

Sure. I think the simplest code sample would be something like:

[code]

Let me know if it's clearer.

[2017-12-10 10:52] matheusml commented on #87
@Gamesh it is possible to that.

[2017-12-10 18:29] Kiho commented on #87
@matheusml I play with code from CodeSandbox here
https://github.com/Kiho/redux-zero/blob/devtools/examples/react/counter/src/dev-tools.js
https://github.com/Kiho/redux-zero/blob/devtools/examples/react/counter/src/store.js
Find it out if it's useful.

[2017-12-10 19:20] #83 closed

[2017-12-11 19:35] matheusml commented on #87
@Kiho could you please give a little description of what you've done?

[2017-12-11 19:35] matheusml commented on #86
I don't know if it's a good idea to export this.

@malbernaz what you think?

[2017-12-11 19:53] malbernaz commented on #86
It is a good idea, I think. I've stumbled at the same problem while writing unit tests.

[2017-12-12 05:41] Kiho commented on #87
@matheusml Not much, I got the store.js from here https://codesandbox.io/s/qvnm8w597q posted from the other thread and split code to 2 piece for easier use or distribution.

[2017-12-12 16:45] Aetherall opened #88 "Adding a function to access specific member of the state"
Right now to access a deep member of the state while keeping immutability looks like :

[code]

it would simplify it more if we had some utility functions for us to use like this :

[code]

What do you think ?

[2017-12-12 17:10] matheusml commented on #86
Ok, I'll add them in on the next release.

Do this works for you @jawadst:

[code]

?

[2017-12-12 17:11] #88 closed

[2017-12-12 17:12] Aetherall commented on #88
Just checket the reactz-tools repo, sorry for distrupt

[2017-12-12 17:14] jawadst commented on #86
@matheusml Yep that works great. Thanks!

[2017-12-12 22:34] matheusml commented on #86
@jawadst please take a look at the PR

[2017-12-13 14:51] jawadst commented on #86
@matheusml Looks good to me, thanks!
If your PRs are built and pushed somewhere, I am happy to test and confirm that it works as expected.

[2017-12-14 20:16] matheusml commented on #86
@jawadst could you please install the latest version and check if that's what you wanted?

[2017-12-14 20:16] #86 closed

[2017-12-15 10:43] usmanmunara commented on #50
Anyone of you have used redux-zero with react-router before? I am having a problem with it. The store is emptied every time I navigate to a new page.

[2017-12-16 21:01] matheusml commented on #50
@usmanmunara do you have a fiddle to reproduce this?

[2017-12-18 08:54] usmanmunara commented on #50
`import createStore from 'redux-zero';

const initialState = {todos: [], user:[], error: "", currentuser:{}};
const store = createStore(initialState);

export default store;`

`const actions = store => ({
    increment: state => ({ count: state.count + 1 }),
    decrement: state => ({ count: state.count - 1 })
  });

  export default actions;`

`import React from 'react';
import {BrowserRouter, Ro

[2017-12-18 17:53] jawadst commented on #86
@matheusml That works well, thanks a lot for adding this so quickly!

[2017-12-20 19:07] matheusml commented on #87
Hi @Kiho

sorry about the delay, it is working just fine.
Just one question, the time travel isn't working because we're changing the state directly.

Do you think that's an issue?

[2017-12-20 23:05] rmlSardinha commented on #50
I'm going to try on codesand today

[2017-12-20 23:55] rmlSardinha commented on #50
Is that what you were talking about?

https://codesandbox.io/s/github/rmlSardinha/redux-zero-router/tree/master/
https://github.com/rmlSardinha/redux-zero-router

[2017-12-21 18:21] matheusml commented on #50
Thanks for this @rmlSardinha

Could you please add this to the project with a PR?

[2017-12-22 05:10] Kiho commented on #87
Hi @matheusml
Personally I don't use redux dev-tool, so I am not sure what to say.

[2017-12-22 12:32] matheusml commented on #87
@malbernaz what you think about this whole thread?

[2017-12-22 14:46] malbernaz commented on #87
Might be a good idea. Redux devtools has a comprehensive API I think.

[2017-12-26 05:13] Kiho commented on #87
@matheusml I made little improvement with code to replay state changes but I can't update back devtools UI.
https://github.com/Kiho/redux-zero/blob/devtools/examples/react/counter/src/dev-tools.js

[2017-12-26 12:39] matheusml commented on #87
Hi @Kiho

please add a PR with this new version.

💯

[2017-12-28 16:46] matheusml commented on #50
@rmlSardinha do you need some help?

[2017-12-28 16:47] matheusml opened #91 "Add time travel"
Redux comes with a time travel feature. For them, it's kind easy to do it (immutability).

For us not so much, but I think it's possible.

[2017-12-29 05:49] Kiho commented on #87
Hi @matheusml

Do you want to create new devtools project under examples/react folder or overwrite current counter example? You should understand a lot of things are missing here.

[2017-12-29 12:18] matheusml commented on #87
I'm not thinking about the examples folder, I'm thinking about adding [this piece of code](https://github.com/Kiho/redux-zero/blob/devtools/examples/react/counter/src/dev-tools.js) to the project.

Do you know what I mean?

[2017-12-29 19:22] Kiho commented on #87
You mean set it up src/devtools and serve as redux-zero/devtools ?
Or explain to me if you think other way.

[2017-12-31 01:17] matheusml commented on #87
Yes @Kiho

I'm thinking we should export the devtools just like you said it.

[2018-01-02 06:52] babakness commented on #58
I'm getting state twice, no payload
`increment = state => payload => state === payload`
// true

bug?

Version 4.8.1

[2018-01-02 06:55] babakness opened #92 "bug: state twice, no payload"
Version 4.8.1

Curried functions
[code]

Multiple parameters work fine
[code]

[2018-01-02 07:18] babakness commented on #92
Looked at source, looks like this is by intent, misunderstanding of comment "both examples work". Though it would be nice, so perhaps a feature request.

[2018-01-02 07:18] #92 closed

[2018-01-02 07:19] babakness commented on #58
Mis-understood "both example work fine". Only second example works per source code.

[2018-01-02 07:20] babakness commented on #58
It is strange however that the second function does receive any parameters...

[2018-01-04 10:38] tranquille opened #94 "Middleware: Is it possible to get next state"
Hello,

I'm new to the middleware part of redux-zero and I wan't to write a small middleware that get the state after the application of the action. Is this possible with the middleware implementation of redux-zero?

Something like this doesn't work in my application:

[code]

`result` will be a Promise which will resolve to `undefined`

I also tried to resolve the promise with `async/await`

Am I

[2018-01-04 18:42] matheusml commented on #94
Hi @tranquille

Thanks opening this.

What exactly is going on? What's the error that you're getting?

Btw, you should read the [unit tests of the middleware](https://github.com/concretesolutions/redux-zero/blob/master/src/middleware/applyMiddleware.spec.ts). Maybe it'll help you out.

[2018-01-05 04:53] Kiho commented on #94
I have working middleware example here https://github.com/Kiho/redux-zero/blob/middleware-svt/examples/svelte/middleware/src/middleware/promise-middleware.ts
It's written for Svelte but it should work for React or other platform without modification

[2018-01-05 09:35] tranquille commented on #94
Hi, thanks for the fast reply @matheusml @Kiho , I already read the unit test of the middleware and also the example.

After reading my question again I see that I didn't explain correctly what my problem is.

In my middleware function I wan't to obtain the state after the execution of an action. I'm only able to get the state before it will be changed by the action. In my example I'm showing the

[2018-01-06 04:19] Kiho commented on #94
@tranquille  this should work as long as you are passing promise as a action.
[code]
https://github.com/Kiho/redux-zero/blob/middleware-svt/examples/svelte/middleware/src/middleware/logger-middleware.ts

[2018-01-07 17:45] #87 closed

[2018-01-08 11:53] matheusml commented on #94
Hi @tranquille

With this last comment, I think I can close this. If you have any more questions, please feel free to ask.

Thanks

[2018-01-08 11:53] #94 closed

[2018-01-08 12:47] tranquille commented on #94
@Kiho thank you very much, the hint with the promise as a action helped me a lot. It's now working as expected.

Also thank you and @matheusml for the fast support!

I think this "issue" can now be closed.

[2018-01-11 15:45] PedroEsperanca commented on #75
none of the examples above seem to be working :s

Only Loading get's updated, but the other state attributes don't

[2018-01-11 17:08] esperancaJS opened #96 "Async example only updates state once"
Async actions seem to not update the state or register an action on the chrome dev tools after the async request.

This was attempted with the example on the README and on [this thread](https://github.com/concretesolutions/redux-zero/issues/75).

[2018-01-11 19:36] jetako opened #97 "React connect decorator prevents hot module reloading"
The react/connect decorator prevents webpack and react-native hot module reloading. As far as I'm aware, React HMR doesn't work with pure functional components. This is an easy fix, simply change the innermost return value of `connect()` to a class instead of a function:

[code]

I think this would go a long way towards adoption of redux-zero, which I absolutely love!

[2018-01-11 19:46] matheusml commented on #96
@PedroEsperanca I think that the state is being updated but the DevTools are not reflecting it.

Can you setup an example showing that the async request isn't working **without** the DevTools?

@Kiho maybe we got something wrong on the DevTools?

[2018-01-11 19:47] matheusml commented on #97
Thanks for this @jetako

Could you send this PR?

[2018-01-11 19:49] jetako commented on #97
Sure @matheusml, I'll send over a PR shortly :)

[2018-01-11 23:47] #97 closed

[2018-01-12 07:42] Kiho commented on #96
It's hard to know what's really happen without repro is provided. I guess problem related to the comment in this thread https://github.com/concretesolutions/redux-zero/issues/36#issuecomment-346836408
If that's the case then need to make actions are unique and need to be saved in it's own files.
I can't do not much thing here because it's caused by no key is associated to action in redux-zero.

[2018-01-12 10:47] PedroEsperanca commented on #96
thanks for the quick response!

You are right, it's just a little quirk with the dev tools. The actual store updates fine.

Here a full example: https://github.com/PedroEsperanca/redux-zero-async-example

[2018-01-12 15:56] rmlSardinha commented on #50
Olá @matheusml, só coloquei o router junto, não sei como poderia colocar um PR para isso.
foi só um exemplo. Mas qualquer coisa se quiser, estou a disposição.

[2018-01-13 18:35] Kiho commented on #96
I missed to test asynchronous actions during development. I will try to find out solution in short time.

[2018-01-13 22:16] babakness opened #99 "Connected components may not be stateless"
https://github.com/reactjs/react-redux/issues/141

The component returned by `connect` doesn't allow for refs ie `<Component ref='foobar' />`. React gives warning "Warning: Stateless function components cannot be given refs. Attempts to access this ref will fail."

[2018-01-14 00:03] babakness commented on #99
For reference my work around is to connect explicitly using `const boundActions = bindActions(actions,store)` then to do something like the following

[code]

Along with `store.subscribe( () => this.forceUpdate() )`

[2018-01-14 08:24] Kiho commented on #96
Hi @matheusml
I found solution for async actions here
https://github.com/Kiho/redux-zero/commit/d63bacaa05cf3b5f0935a3305a15d46ec4284e76
I can make PR if you like it.
cc @PedroEsperanca

[2018-01-15 13:20] matheusml commented on #99
Hi @babakness, thanks for this.

Do you have a solution in mind?

[2018-01-15 13:31] matheusml commented on #96
Great @Kiho! Please open a PR with this fix.

[2018-01-15 14:24] esperancaJS opened #100 "Is there a way to dispatch actions from within an action ?"
In more complex Actions it would make the code simpler to separate it into other actions.

Wondering if there is a simple way to do this already.

Thanks!

[2018-01-15 15:18] PedroEsperanca commented on #100
Currently I've found this solution:

[code]

[2018-01-15 16:50] PedroEsperanca commented on #100
still curious to see how it'll work with https://github.com/concretesolutions/redux-zero/issues/96

[2018-01-17 03:43] jetako commented on #99
I think this is partially resolved in master via #98.

`connect` was changed to return a regular Component instead of a function. However, `ref` would point to the outer HOC, not the wrapped component as you may want.

[2018-01-17 18:38] guilherme6191 commented on #50
@matheusml, guys.

Created the PR #102 for this. I had played with redux-zero and react-router, checked out @rmlSardinha's project as well and created the example in case you guys wanna use it.

Thanks.

[2018-01-18 10:05] PedroEsperanca opened #103 "connect not available for preact (only Preact)"
This is a tricky request to report in terms of SEO :p

So there this connect and Connect.

connect you can wrapped on top of the entire component, allowing it's methods to be available in the constructor and any function within.

Connect only wraps the component's HTML, making actions and state unavailable in the constructor or other functions.

[2018-01-18 12:03] matheusml commented on #99
Maybe the solution to this is to pass down the `ref` prop to the component that's being HOC'd.

What you think @babakness, @jetako?

[2018-01-18 12:06] matheusml commented on #103
Indeed, @PedroEsperanca

We should definitely add this to Preact as well. Could you open a PR with this?

[2018-01-18 12:22] PedroEsperanca commented on #103
almost there: https://github.com/concretesolutions/redux-zero/pull/104

[2018-01-18 16:01] axetroy opened #105 "Is there a way to compatible with redux middleware?"
Anyway. redux got a lot of middleware in community, many of them is powerful and useful.

If it is compatible, It must be pretty cool.

It mean **people don't need to rewrite their middleware** and ``redux-zero` can use it well.

This will surely attract a lot of people to use.

[2018-01-18 16:24] matheusml commented on #105
Hi @axetroy, thanks for the question.

We now have a [middleware](https://github.com/concretesolutions/redux-zero#middleware). You can plug in anything you want.

[2018-01-18 16:24] #105 closed

[2018-01-18 16:25] #50 closed

[2018-01-18 20:10] jetako commented on #99
@matheusml I would consider following the approach taken by [react-redux](https://github.com/reactjs/react-redux/commit/2d3d0beade55477b3af65534ceb793db18b25705). `connect` accepts an opt-in `withRef` option. When true, `ref` points to the wrapped component.

[2018-01-19 12:17] matheusml commented on #99
@jetako ok, that's a valid option.

Could you please open a PR with this?

[2018-01-19 23:04] bl-brandon opened #106 "Separate modules"
Great work! Was working on something similar myself, and this library fit the need just right!

I was wondering if it was possible to separate out the different modules? As I need to only install the react specific code.

Trying to keep my bundle sizes to a minimum.

[2018-01-20 01:25] jetako commented on #99
@matheusml Afraid I won't have the bandwidth for this any time soon. @babakness ?

[2018-01-20 13:33] hos4m opened #107 "React Native, createStore() from AsyncStorage issue"
Hello, I'm trying to use the `createStore` function but get the values of each key from the `AsyncStorage` in React Native.

[code]

There are values for `expenses` and `categories` in `AsyncStorage` but when I try to console.log `store.getState()`, the values of each key is a promise.

[2018-01-21 16:01] matheusml commented on #106
Hi @bl-brandon, thanks for the question.

We already do that.

When you do this:

[code]

you're already importing only the bundle you'll need for react.

[2018-01-21 16:01] #106 closed

[2018-01-23 08:29] axetroy commented on #105
@matheusml
thanks, I got it.
I have write a middleware, maybe it can help people.

[redux-zero-logger](https://github.com/axetroy/redux-zero-logger)
[redux-zero-persist](https://github.com/axetroy/redux-zero-persist)

[2018-01-25 02:03] jetako opened #108 "Combining Actions"
Here's a simple utility function I'm using that merges multiple action maps together. Thought this might be worthy of adding to the core library, unless I'm missing an better approach:

[code]

Usage:
[code]

[2018-01-25 12:15] matheusml commented on #108
Hi @jetako

This surely can be useful. Can you add a PR with this?

[2018-02-06 11:05] axetroy commented on #107
Maybe it can help you. https://github.com/axetroy/redux-zero-persist

Allmost like [redux-persist](https://github.com/rt2zz/redux-persist)

[2018-02-06 12:02] matheusml commented on #107
@hos4m does that help? Can I close this?

[2018-02-06 13:52] #107 closed

[2018-02-08 16:47] guilherme6191 opened #109 "Example with Material-UI"
Add an example setup with material-ui.

I can open a PR for that. Let me know if this is not useful though.

[2018-02-08 17:24] matheusml commented on #109
Yes please!

[2018-02-08 17:24] #109 closed

[2018-02-21 05:46] dlee opened #111 "How do you pass arguments to an action?"
The docs don't give an example of how you can pass an argument into actions. Is it even possible?

[2018-02-21 13:28] matheusml commented on #111
Yes, it's possible.

Please take a look at the [unit tests](https://github.com/concretesolutions/redux-zero/blob/master/src/react/components/connect.spec.tsx#L71). There's an example with an increment function with parameters.

But you're right, we need to add this to the DOCs.

[2018-02-21 13:28] #111 closed

[2018-02-21 13:31] matheusml commented on #108
@jetako there's a clean way to do this, without the need of a function. We can simply use the spread operator, like this:

[code]

I'm adding this to the DOCs.

[2018-02-21 13:31] #108 closed

[2018-03-14 21:56] leobetosouza commented on #108
Hello, @matheusml

I've made a function to combine actions inspired in your example:

[code]

[2018-03-15 12:59] matheusml commented on #108
Ok, @leobetosouza

Please add this.

[2018-03-15 19:05] jetako commented on #108
@leobetosouza, It looks like your version won't work with simple object actions, hence why my proposal checks for a "function" type.

A little tip: `{ ...acc, ...action(...actionsParams) }` is doing more work than necessary. You are creating a new object in each loop, when you only need to assign to `acc`.
`Object.assign(acc, action(...actionsParams))` is more efficient.

[2018-03-15 20:28] matheusml commented on #108
@leobetosouza before I can accept the PR, could you please take into account @jetako 's comments?

[2018-03-15 20:57] leobetosouza commented on #108
@jetako

Object.assign(acc, action(...actionsParams)) is more efficient.

It's proposital. I'm trying to work only with pure functions.

[2018-03-15 21:00] leobetosouza commented on #108
Yeah, I miss this. You're right. I haven't noticed that we have simple object actions. I will work on it tomorrow.

[2018-03-16 13:48] matheusml commented on #108
Thanks @leobetosouza

[2018-03-26 22:36] mspanish opened #116 "onchange listener for store?"
I'm using this with Svelte, and am trying to use a localStorage solution from [here ](https://glebbahmutov.com/blog/testing-svelte-store/)that looks like this:

[code]
is there a way to easily grab any change to the redux-zero store, something equivalent to the onchange from the Svelte's store?

[2018-03-27 05:08] Kiho commented on #116
@mspanish
You can do same thing with middleware like this.
[code]
And you can set it up in store https://github.com/Kiho/redux-zero/blob/master/examples/svelte/middleware/src/store.ts#L15

[2018-03-27 15:16] matheusml commented on #116
Hi @mspanish

Thanks for the question. I'm closing this right now, but if you have any more questions please feel free to ask.

[2018-03-27 15:16] #116 closed

[2018-03-27 20:54] mspanish commented on #116
thanks that is very helpful - I hacked the update() fn to do this, but I'm sure that's  a better method! One question though - right now I"m not using actions - just using setState - would this only work if you are using actions?

[2018-03-28 01:34] Kiho commented on #116
Hi @mspanish, this might be hack too but if you construct root component in this way then it works.
[code]
https://github.com/Kiho/redux-zero/blob/local-storage/examples/svelte/counter/src/App.html

[2018-03-28 01:37] mspanish commented on #116
thank you :)

[2018-04-02 05:02] mspanish opened #118 "Any ports for redux undo redo?"
Hello has anybody had the need to port any of the libs for redux undo redo to redux-zero?  This one looks pretty nice- [Redux Undo](https://github.com/omnidan/redux-undo).

[2018-07-31 00:31] matheusml commented on #118
For Redux it's easier because it does not modify the state directaly, but create a new one, which makes waaaay easier to time-travel, for example.

We're thinking in some ways to do the same with Redux Zero, but right now it's for the future.

[2018-07-31 00:31] #118 closed

[2018-07-31 00:31] #91 closed

[2018-07-31 00:31] #96 closed

[2018-07-31 00:33] #100 closed

[2018-08-06 08:28] jreinert opened #121 "Managing large stores"
Hey, I was wondering if there is a go-to solution how to manage large stores. In redux this would've been done by combining reducers. the `combineActions` function is useful but it keeps the actions at top level and doesn't allow for splitting the global application state into smaller chunks. If this is already possible, maybe adding it to the readme would be a good idea.

[2018-08-06 13:33] matheusml commented on #121
Hi @jreinert

What do you mean exactly with this? Can you provide some code examples on what would that be?

[2018-08-07 07:42] jreinert commented on #121
exactly @neurosnap. I couldn't have explained it better :+1:

[2018-08-07 13:26] matheusml commented on #121
Thanks for the explanation @neurosnap

Answering your question @jreinert, right now we don't have a 'scoped state', but I would be open to discuss this.

[2018-08-09 15:20] ruslan-mystore opened #122 "Using Gatsby js : WebpackError: window is not defined"
**When using redux-zero in the 'development' mode everything is fine.
When using redux-zero without actions, the build is working also fine.
But when i'm using actions and trying to use 'build', i'm getting this error:**

[code]

[2018-08-09 15:30] matheusml commented on #122
Are you using the Redux Zero's devtools?

[2018-08-09 15:44] ruslan-mystore commented on #122
@matheusml  Yes, from the example in the repository

[2018-08-09 15:48] matheusml commented on #122
@ruslan-mystore it's probably and SSR issue.

Could you send a PR changing this:

[code]

to this:

[code]

That's probably going to fix it.

[2018-08-09 15:54] ruslan-mystore commented on #122
Same error:

[code]

[2018-08-09 16:37] matheusml commented on #122
@ruslan-mystore please update `redux-zero` to version `4.13.1` and try again.

[2018-08-11 06:30] xcapetir opened #124 "Add redux-zero to reactnative.gallery"
Hi @concretesolutions!

Sorry, this is not an issue...

I’ve been working as a freelance React Native developer for more than 3 years.

I try to help community when I can: sharing my works on open-source, like you do!

I've created a website where developers can share with entire world their React Native projects, components, apps...

This website allow developers to show their works and get feedb

[2018-08-12 20:28] ruslan-mystore commented on #122
@matheusml  Thanks, that working just fine.

I will add gatsby redux-zero starter to gatsby site:
https://www.gatsbyjs.org/docs/gatsby-starters/

[2018-08-13 13:29] #122 closed

[2018-08-13 13:29] matheusml commented on #122
Thanks for that @ruslan-mystore! 👍

[2018-08-13 16:21] tschnoelzer opened #126 "redux example using stateful component"
Hi team,

I have difficulties to use redux-zero with a Class based component. need to do as using animation for items and i could not get it working in the stateless manner.

can someone provide to counter.js class rewritten as a class Counter extends Component?

Best and many thanks in advance

Timo

[2018-08-13 16:36] matheusml commented on #126
Great question @tschnoelzer, you can do it like this:

[code]

[2018-08-13 16:37] #126 closed

[2018-08-13 16:47] tschnoelzer commented on #126
Thanx Mat ... that was fast ;-) ... I checked that preact usage is similar ... perfect!

[2018-08-14 08:03] brennanerbz commented on #99
`export default function connect(mapToProps, actions = {}) {
  return Child => {
    return React.forwardRef((props, ref) => {
      return (
        <Connect {...props} mapToProps={mapToProps} actions={actions}>
          {mappedProps => <Child ref={ref} {...mappedProps} {...props} />}
        </Connect>
      );
    });
  };
}
`

[2018-08-14 08:04] brennanerbz commented on #99
[code]

[2018-08-15 18:16] leobetosouza commented on #99
I need this feature... I will work in it after #119

[2018-08-15 22:11] leobetosouza commented on #99
To imprementing the solution using `React.forwardRef` we need to upgrade React to at least React 16.3

And, [as recommended is React Docs](https://reactjs.org/docs/forwarding-refs.html#note-for-component-library-maintainers), increase a major version of redux-zero.

This is OK, @matheusml?

[2018-09-06 20:13] Mando75 opened #130 "Vue Dev Tools Middleware?"
Hey guys, I just was playing around with Redux-Zero in Vue for the first time. I have everything working, and I'm strongly considering using it in my next project. The biggest thing that is holding me back is the fact that I cannot inspect the Redux-Zero state the Vue Dev Tools (in Chrome).
I tripped me up at first, because the store is prototyped on the Vue instance, but the Dev Tools don't detec

[2018-09-07 14:23] leonardopavanello opened #131 "combineActions with Async actions"
Hi! I have an issue using the combineActions tool with async actions.
Seems that the combineActions only accept plain object responses.
Is this correct?  Is there a plan to accept Promise for the combineActions?
thanks!

[2018-09-19 17:54] matheusml commented on #121
I'm closing this for now, but if you have more to add to this discussion, please feel free to

[2018-09-19 17:54] #121 closed

[2018-09-19 17:54] matheusml commented on #131
I'm closing this for now, but if you have more to add to this discussion, please feel free to

[2018-09-19 17:54] #131 closed

[2018-10-25 19:00] chanthafef opened #133 "ownProps undefined in actions using redux-zero/preact"
import {h} from 'preact'
    import createStore from 'redux-zero'
    import {Provider, connect} from 'redux-zero/preact'

    const Component = ({ count, increment }) => <h1 onClick={() => increment()}>{count}</h1>;

    const mapToProps = ({ count }) => ({ count });

    const actions = (store, ownProps) => ({
        increment: state => {
            console.log(ownProps) // === undefined

[2018-10-26 02:34] chanthafef commented on #133
In [preact/Connect](https://github.com/redux-zero/redux-zero/blob/master/src/preact/components/Connect.tsx), I belive this.props should be passed as third argument to bindActions in the getActions function (line 23)

[2018-10-26 18:16] matheusml commented on #133
@chanthafef thanks for noticing this. We added `ownProps` to react bindings but we forget about preact's one.

I'll be more than happy to accept a PR on this.

Thanks again.

[2018-10-26 21:30] chanthafef commented on #133
Thanks for the fast answer. --> [PR](https://github.com/redux-zero/redux-zero/pull/134)

[2018-11-01 16:06] coder82 opened #135 "redux devtools import/export feature not working?"
When I use the official redux devtools chrome extention, does the import/export store functionality work already?
I can save it to a json file, but when I try to import a store, nothing happens after I open it.
Is there any specific setting to make this work?

Thanks.

[2018-11-01 18:07] #133 closed

[2018-11-01 21:16] matheusml commented on #135
@Kiho do you know more about this?

[2018-11-02 11:44] coder82 opened #136 "Is there a way to call an action after another?"
If I call an action from another action, the second one completes first.
Is there a way to have the calling action complete first?
Or set it up like, execute action x after action y in sequence?
I think redux-thunk does this but will it work with redux-zero?

Thanks.

[2018-11-02 23:15] chanthafef commented on #136
How do you call an action from another action ? Could you provide an example ?

[2018-11-02 23:44] chanthafef commented on #136
If you run the code below, you'll see that :
1. both actions will execute in the correct order
2. the store actually stays up to date all the way.

Personally, the problem I faced was that  my Example component only updated once.

[code]

I don't know about other frameworks, but to force preact components to render both times, you can call your actions like this  `setTimeout(() => actionCall())`

[2018-11-03 10:43] coder82 commented on #136
For example like this, essentially I call the inner action within outer action. What I want is to schedule the execution of actionInner right after actionOuter. Like it is now it completes first actionInner and then actionOuter.
[code]

[2018-11-03 15:59] chanthafef commented on #136
Maybe I just don't get it ... but isn't that just how pure functions work ?

Why not just turn them aroud ?

[code]
Now if you call ationInner, actionOuter returns first & actionInner returns right after.

Or maybe below, it it's simpler to reason about.

[code]

[2018-11-03 17:28] matheusml commented on #136
This is not going to work because in Redux Zero, we only update the state for the last return line.

The only other way to update the state, without using `return` is to use `store.setState`.

[2018-11-03 17:28] #136 closed

[2018-11-06 05:32] Kiho commented on #135
I don't think import/export functionality was implemented.

[2018-11-27 04:20] aibrahim3546 opened #137 "How to dispatch actions in lifecycle in redux-zero/preact?"
I am using **Preact** and I have created two files. Everything is working fine when I want to call my actions functions inside my render since it is wrapper with `<Connect />` components.

#### What if i want to call the `increment` functions inside my `componentDidMount()`?

actions.js:

[code]

counter.js

[code]

[2018-11-27 11:15] chanthafef commented on #137
Why don't you just 'wrap' the counter component instead ?

[code]
Or is there any specific reason you'd want to connect in render ?

[2018-11-27 13:02] matheusml commented on #137
That's right @chanthafef.

@aibrahim3546 I'm closing this for now, but feel free to ask any more questions.

[2018-11-27 13:02] #137 closed

[2018-11-27 13:58] chanthafef commented on #100
@matheusml

Does the following looks like a good idea ? Or can you foresee some obvious pitfalls ?

Plot twist : there is no need to change anything in redux-zero to make it work.

**It's nothing more than a wrapper around actions - just like bindActions.**

_./ConnectedComponent.js_
[code]
**Basically, an object containing all actions is passed down as a third argument to each individual action.*

[2018-11-27 17:42] matheusml commented on #100
I think they're both good approaches to the problem, I just don't see why you should do this.
If your actions is too big, it should probably be splitted anyway.

[2018-11-28 02:30] aibrahim3546 commented on #137
It was my mistake I thought we need to wrap the render with `<Component />` in **Preact**. Look like we can also bind `connect` at the export default like in **React**.

Thank you for the solution it's working now.

[2018-12-20 14:16] gcox opened #140 "Typescript error - Cannot find module './devtoolsMidleware'"
**`version 4.15.1`**

When `redux-zero` is installed, the `devtoolsMidleware.d.ts` file is not included which leads to an error since that file imported by `devtoolsMiddleware.d.ts`

Is there any particular reason the devtools typings were implemented this way? I'm no expert on typings so I'm sure I'm just missing something.

<img width="790" alt="screen shot 2018-12-20 at 9 14 17 am" src="https:/

[2018-12-30 17:18] coder82 opened #141 "redux devtools dispatch not working"
I looks like if I try to dispatch an action from devtools it doesn't work...
Can you confirm that?

[2018-12-31 00:08] #135 closed

[2018-12-31 00:08] matheusml commented on #141
@Kiho could you please answer this one?

[2018-12-31 17:07] Kiho commented on #141
I am not sure understand question correctly, only a few actions were implemented here. https://github.com/redux-zero/redux-zero/blob/master/src/devtools/devtoolsMiddleware.spec.ts#L31

[2019-01-02 13:10] gebeto commented on #140
It is because there are naming conflicts in sources, `devtoolsMiddleware.ts` imports `devtoolsMiddleware.d.ts`, it is bad

@matheusml need to rename `devtoolsMiddleware.d.ts` to something like `devtoolsMiddlewareInterfaces.ts` or move all interfaces from `devtoolsMiddleware.d.ts` into `devtoolsMiddleware.ts` file

or move `devtoolsMiddleware.d.ts` to `interfaces` folder

[2019-01-02 13:13] gebeto commented on #140
## Result

![screen shot 2019-01-02 at 3 12 23 pm](https://user-images.githubusercontent.com/13422799/50593378-d43f8680-0ea0-11e9-956d-fe9510583574.png)

[2019-01-02 13:15] matheusml commented on #140
Thanks for that @gebeto. I would gladly accept this PR.

[2019-01-02 13:15] #140 closed

[2019-01-02 13:19] gebeto commented on #140
@matheusml I've add it to #142, can you check that PR?

[2019-03-07 17:17] markdhel opened #144 "Adding redux-devtools options parameters"
I was wondering if it's a good idea to add [redux-devtools options](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md) parameter here?

https://github.com/redux-zero/redux-zero/blob/07639a4dfdd8aa9d6ff8f737d1086fb931cd7992/src/devtools/devtoolsMiddleware.ts#L134

I have a situation that I needed to load 2 stores in a page and somehow it would be better if I c

[2019-03-07 21:00] matheusml commented on #144
Indeed. But I think you should add this after this one is accepted: #143

[2019-05-08 04:46] naiyt opened #147 "Writing typesafe actions"
First off, thanks for the awesome library!

I've been trying to see if I can write typesafe actions, but I've been running into a bit of trouble. Modifying the example to use TypeScript, I can do this:

[code]

The `interface StoreProps extends ReturnType<typeof actions>` *almost* gets me there, as it does properly include my `actions` (in this case `increment`) in the interface. The issue is the

[2019-05-08 22:19] naiyt commented on #147
Fiddled around for awhile and found a way to do it!

[code]

Now in my component I can do

[code]

And calling `this.props.setLoadoading(false)` or whatever will be properly type checked for the bound action.

The main magic is in the `FuncTypeWithoutFirstArg` type, which takes a function generic and defines a type where the first argument is omitted (which is what happens to the bound actions in

[2019-05-08 22:19] #147 closed

[2019-05-20 04:56] jrbrodie77 opened #149 "Unit mapToProps? (pass through)"
It looks like mapToPops is required by 'connect' (from the React examples).

What if I have a component that needs actions, but doesn't need to read props?  What is the idiomatic 'empty' mapToProps?  is it mapToProps = (state) => (state);  ?

[2019-05-21 12:32] jrbrodie77 commented on #149
I figured this out.  I needed to pass 'undefined' to the mapToProps parameter in connect.

[2019-06-19 10:42] teemuandersen opened #151 "Release seems to be missing types/Actions.ts"
Version 5.0.3 introduced types for Actions (`src/types/Actions.ts`). These are however missing from the builds (5.0.3, 5.0.4). This breaks type checking:
[code]

[2019-07-11 14:08] matheusml commented on #151
@teemuandersen could you please [run this locally](https://github.com/redux-zero/redux-zero/pull/154) and check if this solved your issue?

[2019-07-22 07:02] teemuandersen commented on #151
@matheusml Sorry that it took some time to respond. I was on holidays without laptop. But IMO that rollup line was part of it. But should the `package.json` _files_ section contain _types_ folder as well? I ran `yarn pack` and types folder was still missing.

[2019-07-29 16:22] eselquinoa opened #155 "Use via script tags?"
I have some code that uses preact and redux via script tags. I'm trying to use redux-zero instead of redux, but I don't see any guidance on how to use the code this way. The provided examples with import etc. all throw errors.

This link explains how it works with preact:

 https://github.com/preactjs/preact/issues/484

[2019-09-03 08:22] evenfrost commented on #151
Same for me here, types folder is missing from the package installed in node_modules. Just adding types in package.json's files should be fine to fix it.

[2019-09-03 18:20] ernaneluis commented on #121
still open to discussing this? I think without the scope state, things can get messed up very easily over time

[2019-10-26 05:02] makinde commented on #151
Any update here? Just came across this.

[2019-11-07 14:14] matheusml commented on #151
Version 5.1.1 will have the fix. Sorry about that.

[2019-11-07 14:14] #151 closed

[2019-12-05 16:12] axetroy opened #164 "react waning for <Connect>"
componentWillMount has been renamed

[code]

[2019-12-26 09:34] jackyFeng opened #165 "Not able to use redux-zero through UMD"
Hi,

We are trying to use redux-zero + Preact through UMD. According to the documentation, we put below scripts into our index.html. However, the createStore function is not available as both of script below are trying to create attribute "redux-zero" to window. I'm thinking we probably miss out something here. Could anyone help provide the example of using redux-zero through UMD?

Thanks

<script

[2020-01-16 02:42] axetroy commented on #164
The class component should be removed, use function component instead

[2020-01-17 11:57] rubenpro commented on #164
@axetroy how did you fix it? I have a component wich has:
`import { connect } from "redux-zero/react";`
// code
 `export default connect(mapToProps, actions)(LoginForm);`

[2020-01-17 14:35] matheusml commented on #165
Which version are you using?

[2020-01-17 14:37] matheusml commented on #164
We could definitely rewrite the Connect class to use the hooks API.
Could you please open that PR?

[2020-01-17 21:10] treeforever opened #169 "Action type doesn't support Promise as return type"
I am using React + Typescript + redux-zero. But I experienced some difficulties when trying to make async calls in actions. I think the error is because`Action` needs to return `Partial<State>` and it doesn't allow `Promise`:

(https://github.com/redux-zero/redux-zero/blob/master/src/types/index.ts#L3)

In the following code, I am returning a `Promise<State>`:

[code]

That results in an error tha

[2020-03-27 21:52] matheusml commented on #155
There is a section for this right here: https://github.com/redux-zero/redux-zero#how
_Just search for UMD_

Please let me know if you're still unable to do it.

[2020-03-27 21:52] #155 closed

[2020-03-27 21:54] matheusml commented on #169
Hey @treeforever

Thank you for letting me know about this, and sorry about the delay.
Would you be willing to open a PR fixing this?

[2020-03-27 21:54] #165 closed

[2020-03-27 21:56] #141 closed

[2020-03-27 21:57] #144 closed

[2020-03-27 21:57] #149 closed

[2020-03-29 00:33] matheusml opened #172 "RFC - Remove all current binding functions except for Hooks"
I'm thinking about a _bold_ breaking change.

After [this awesome PR](https://github.com/redux-zero/redux-zero/pull/153) by @d3x7r0, you can use Redux Zero with a really small API, based on Hooks:

[code]
With that, it seems that the other approaches (connect and Connect) simply don't make sense anymore.
I'm highly considering rebranding Redux Zero to be all about this three hooks. No more, no les

[2020-03-29 00:35] matheusml commented on #172
@Kiho @leobetosouza @malbernaz @emilianox @d3x7r0

[2020-03-29 02:03] leobetosouza commented on #172
i dont have any opinion about it. i'm almost 2 years without using the lib.

[2020-03-29 12:40] d3x7r0 commented on #172
I've been away from working on much js for the last 6 months or so, so I haven't had much time to stress test the hooks but I think re-focusing on hooks is a good idea. Of course I may be biased since I'm hooked on hooks (pun 100% intended).

Anyway I'm not sure removing the Connect HOC is necessary. It would be relatively simple to refactor them to use Hooks I think.

[code]
(untested, back of th

[2020-03-29 12:49] emilianox commented on #172
Is a great idea, the only thing I thinking of is not breaking back-compatibility
Maybe a non-hook mode?
Or at least a breaking code warning in the update

[2020-03-29 16:15] matheusml commented on #172
@leobetosouza thank you for your candid feedback

@d3x7r0 how are you using `useAction` with async operators? The only way I could was to do this:
[code]
But I had some typing errors (when I tried using it with TypeScript).

@emilianox that makes sense as well. But to be honest, people are already getting those warnings if they're using `connect` or `Connect` with React >= 16.2.0. My idea was to s

[2020-03-29 21:30] d3x7r0 commented on #172
@matheusml wouldn't the action still support returning a promise for async tasks? You would still do something like your example if you needed to increment a loading counter for example but for simple things it should work no?

[code]

Anyway I was never very happy with the useAction hook I'll admit. It feels like the function should get the store as a param at the very least but I haven't actuall

[2020-03-30 00:06] matheusml commented on #172
The issue with this current API (the useAction with async), is that you can't do stuff like this:

[code]

[2020-03-31 16:03] dtimin commented on #164
Any updates here? The warning is still there.

[2020-03-31 16:12] matheusml commented on #164
Yes, I'm totally willing to accept this PR.

[2020-04-10 20:09] makinde opened #174 "Add useActions hook for react"
currently there's a hook for `useAction` (singular), but that doesn't support the format of actions provided in the doc. Those have to be sent through `bindActions` (plural). We need a corresponding `useActions()` hook.

[2020-04-10 20:55] matheusml commented on #174
That's a great idea, @makinde!
Would be willing to send this PR?

[2020-04-10 22:09] makinde commented on #174
I would, and briefly poked around...but the typing is above my head right now :( I know typescript basics, but can’t go that far into the deep end yet.

[2020-04-11 16:29] makinde commented on #172
@matheusml interesting idea.

I use both hooks and the connect function right now. The connect function is nice for when I have a few bits of data that I need to pull out from state. Using `useSelector` I have to have a separate call for each bit of data I want.

I also find it nice that the general API here is similar to redux. When other collaborate on my project, if they have used redux before,

[2020-04-12 13:31] matheusml commented on #172
Hey @makinde, thanks for the feedback.

No, classes don't support hooks. So the reason why I want to go all-in into hooks only API is:
1. That's where React itself is going
2. I don't think that having two ways of doing the same thing is beneficial. Because you'll have more API to learn, more code to maintain and bigger bundle size

I'm already building some experiments to drop support with Connec

[2020-04-12 21:21] makinde commented on #172
Thanks for responding. You should definitely feel empowered to direct things as you see best.

I’ll just quickly highlight some of what you gain with the current “redux-like” branding and messaging. Because I know that this library is supposed to be like redux, I can depend on their docs. For instance, I’m trying to learn middleware in redux-zero right now. The docs are...brief, to say the least.

[2020-04-14 22:23] blackout1208 commented on #164
Is there an update coming anytime soon?

[2020-04-15 13:27] matheusml commented on #164
It's done, please update with latest (5.1.4)

[2020-04-15 13:27] #164 closed

[2020-04-15 16:01] matheusml opened #177 "Update connect/Connect to use hooks instead of classes"
Right now, both connect and Connect components are based on classes. React is moving away from that and so should we.

Let's change them to use hooks instead.

It's paramount that the behavior is the same, only the technology would be different

[2020-04-15 19:19] blackout1208 commented on #164
@matheusml I just updated it, but it seems we continue with the same issues.

![image](https://user-images.githubusercontent.com/12602104/79379160-b9423a00-7f5e-11ea-8f14-d0e92666e2bf.png)

[2020-04-15 19:29] salslab commented on #164
I updated to 5.1.4 today and it works fine for me. No warnings.

Maybe you are missing something.

[2020-04-15 20:50] matheusml commented on #164
Seems like in **<React.StrictMode>** you can't even use the UNSAFE methods. Didn't know about that.

Either way, there's an [open issue](https://github.com/redux-zero/redux-zero/issues/177) for us to properly solve this.

My advice for you is to try to replace connect/Connect with the new hooks API.
In 5.2.0 (which will be shipped today) the change is straightforward. Everything will remain the sa

[2020-04-15 21:28] blackout1208 commented on #164
By removing the StrictMode the errors disappeared indeed. That's fine then 👍

[2020-04-22 14:09] jackyFeng opened #178 "How to ensure the sequence of the async actions?"
Hi,

Currently, we are implementing a filter feature with Redux-zero. We are having difficulties to ensure the state is updated according to the sequence of the actions.
The issue we are having right now is that, because the action is async, if user fired the action multiple times before getting responses back, the state could be updated in any order depending on the time taken for the request.
We

[2020-04-22 15:05] matheusml commented on #178
Hey @jackyFeng, I don't think this is something in Redux Zero's level to solve. That should probably be a middleware written on your side indeed.

If you have a hard time fixing it on our end, please let us know!

[2020-04-22 15:05] #178 closed

[2020-04-22 15:12] jackyFeng commented on #178
Hi @matheusml,

We indeed having some difficulties writing this middleware, any suggestions?

Thanks

[2020-05-04 15:48] jackyFeng opened #179 "where is getActions exported from?"
Hi,

We are trying to setup our tests for actions by following the documentation. We are using Preact, and we can not find where the getActions exported is exported.

Could anyone advise on this?

Thanks
Jacky

[2020-05-12 15:40] #169 closed

[2020-05-29 16:16] x8BitRain opened #184 "Proper syntax for store.setState callback?"
What is the proper syntax for calling a function once the store has been updated? In React with setState you can do

`this.setState({
    thing: "thing"
}, () => {
    console.log("thing was set!")
})`

But this doesn't appear to work the same way with store.setState(), I can also do

[code]

But I'm not sure if there's syntax that I don't know about that does the same without having to use async

[2020-07-29 01:51] seshrs opened #193 "Docs website down?"
The README for this project links to the "Full Docs" at: https://matheusml1.gitbooks.io/redux-zero-docs/content/

However, the page reports a 404 error.

[2020-08-05 14:24] LumaKernel opened #198 "Some files are not updated after building."
`yarn build` command doesn't reflect all files difference if there exists built files.

In actual, the type `Action` definition of published version [redux-zero@5.1.7/types/Actions.d.ts](https://zitros.github.io/npm-explorer/?p=redux-zero@5.1.7/types/Actions.d.ts&selection=2:73-2:73) (linking to npm-explorer) is not including `Promise<...>` , while [the file on `master`](https://github.com/redux-z

[2020-08-05 14:38] LumaKernel commented on #198
Oh, sorry, updating is correctly working. I misunderstand something. However, the latest file is still not published.

[2020-08-05 14:49] LumaKernel commented on #198
Ok, I got it. The file `types/Actions.d.ts` is copied from `types/index.d.ts` in your publishing cycle ?

Below is working properly.

[code]

But document (README.md) is saying to use `redux-zero/types/Actions` so I think two options, to rewrite README.md or to set it up to copy automatically in `yarn build` .

[2020-09-11 16:40] #184 closed

[2020-12-25 12:28] jakaria98 opened #219 "value from props is not passing"
![Screenshot_1](https://user-images.githubusercontent.com/75481898/103134920-b9dec300-46de-11eb-8a7a-a299b77a91bb.png)
![Screenshot_2](https://user-images.githubusercontent.com/75481898/103134925-bb0ff000-46de-11eb-98fd-f8e0a773355f.png)
![Screenshot_3](https://user-images.githubusercontent.com/75481898/103134926-bba88680-46de-11eb-8daa-0920a86cb021.png)
not getting value from this.props
console.l

[2020-12-27 09:32] #219 closed, assigned to nobody

[2021-11-20 04:40] heatherKoo07 commented on #179
Hi, I have the same question. Did you find the solution by any chance?

[2021-11-21 22:07] heatherKoo07 commented on #136
Is this still not working in redux-zero? react-redux supports this with dispatch()
for example, (borrowing the above one)
[code]

[2021-11-28 16:33] justinaht opened #273 "use redux-zero in typescript"
I'm new in typescript
In a previous project using js, I used this code to connect to redux state
[code]

but when using typescript with the code above, it doesn't work fine

[code]
the error shown
[code]

Can someone tell me how to use it in typescript

[2021-12-06 06:34] justinaht commented on #273
Is there noone tried to write this in typescript? Some one help me

[2022-05-09 16:36] gerardcsaperas opened #291 "Can't test redux-zero with JEST and TypeScript?"
Hi!

I'm getting the following error message when I try to write unit tests for files that access the redux-zero store (just by importing the files, not even writing tests).

[code]

[2022-05-09 18:05] matheusml commented on #291
This is how you import it with TypeScript:

[code]

It's documented here: https://github.com/redux-zero/redux-zero#how

[2022-05-09 18:05] #291 closed, assigned to nobody

[2022-05-10 08:08] gerardcsaperas commented on #291
Hi @matheusml ,

When I do this:

[code]

TypeScript's linter gives me the following error message for `createStore`:

[code]